.box {
    width: 80%;
    max-width: 720px;
    margin-top: 50px;
    display: flex;
    align-items: center;
    flex-direction: column;
    &__wrapper {
        height: auto;
        border: $white solid 5px;
        background-color: $black;
        padding: 14px 20px 20px 20px;
        margin-top: 40px;
    }
    &__subtitle {
        color: $white;
        margin-bottom: 4px;
    }
    &__link {
        font-size: 1.17rem;
        color: $text;
        text-decoration: none;
        display: flex;
        align-items: center;
    }
    &__logo {
        width: 26px;
        height: 26px;
        margin-left: 8px;
    }
    &__list {
        padding-left: 20px;
        + .box__subtitle {
            margin-top: 15px;
        }
    }
    .email {
        display: flex;
        margin-bottom: 30px;
        &__title {
            line-break: anywhere;
        }
        &__copy {
            width: 30px;
            height: 30px;
            margin-left: 8px;
            cursor: pointer;
        }
    }
}

@media (max-width: 1400px) {
    .box {
        margin-top: 15px;
        height: 700px;
        &__wrapper {
            margin-top: 25px;
        }
    }
    .box.contact {
        height: 500px;
    }
    .box.skills {
        height: 500px;
    }
    .box.about {
        height: auto;
    }
}

@media (max-width: 800px) {
    .box {
        padding: 0 20px 20px 20px;
        width: 100%;
        font-size: 16px;
        align-items: start;
        &__subtitle {
            font-size: 20px;
        }
        &__link {
            font-size: 16px;
        }
        &__wrapper {
            width: 100%;
        }
    }
    .sans, .flowey {
        display: none;
    }
}
