img {
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
    -webkit-user-drag: none;
}

.character {
    position: absolute;
    bottom: 0px;
    width: 280px;
    &--sans {
        left: 320px;
    }
    &--mettaton {
        width: 400px;
        left: 50px;
    }
    &--papyrus {
        width: 250px;
        right: 430px;
    }
}

.dialogue {
    width: 450px;
    position: absolute;
    z-index: 2;
    &--sans {
        left: 560px;
        bottom: 250px;
    }
    &--papyrus {
        right: 80px;
        bottom: 290px;
    }
}

.projects__dog {
    position: absolute;
    height: 400px;
    top: 30px;
    &--left {
        left: -405px;
    }
    &--right {
        right: -405px;
    }
}

// MEDIA QUERIES

@media (max-width: 1700px) {
    .character {
        &--papyrus {
            width: 200px;
            right: 0;
        }
        &--mettaton {
            width: 400px;
            left: 0px;
        }
    }
    .dialogue {
        &--papyrus {
            width: 280px;
        }
    }
}

@media (max-width: 1500px) {
    .character {
        &--mettaton {
            width: 300px;
            left: 0;
        }
        &--sans {
            width: 200px;
            left: 200px;
        }
    }   
    .dialogue {
        &--sans {
            width: 300px;
            left: 380px;
            bottom: 170px;
        }
    }
}

@media (max-width: 1100px) {
    .character {
        &--papyrus {
            width: 150px;
            left: 20px;
            bottom: -40px;
        }
        &--mettaton {
            width: 250px;
        }
    }
    .dialogue {
        &--papyrus {
            width: 280px;
            bottom: 20px;
            left: 150px;
        }
    }
}

@media (max-width: 800px) {
    .character {
        &--papyrus {
            width: 150px;
            left: 20px;
            bottom: -100px;
        }
        &--mettaton {
            display: none;
        }
        &--sans {
            width: 200px;
            left: unset;
            right: 10px;
            bottom: -240px;
        }
    }
    .dialogue {
        &--papyrus {
            width: 250px;
            left: 110px;
            bottom: 70px;
        }
        &--sans {
            width: 300px;
            left: unset;
            right: 30px;
            bottom: 30px;
        }
    }
    .projects__dog {
        display: none;
    }
}

@media (max-width: 621px) {
    .character {
        &--papyrus {
            width: 150px;
            left: 20px;
            bottom: -150px;
        }
    }
    .dialogue {
        &--papyrus {
            width: 220px;
            left: 110px;
            bottom: 20px;
        }
    }
}
