$black: #000000;
$white: #ffffff;
$shadow: #848484;
$text: #808080;
$menu : #ff7f27;
$menuSelected : #ffff00;
$backgroundHighlight: #3CB24E;

@font-face {
    font-family: UndertaleBack;
    src: local("monsterfriendbackpro"), url("./assets/fonts/monsterfriendbackpro.otf") format("opentype");
}

@font-face {
    font-family: UndertaleFront;
    src: local("monsterfriendforepro"), url("./assets/fonts/monsterfriendforepro.otf") format("opentype");
}

@font-face {
    font-family: "8BitOperatorPlus-Bold";
    src: local("8bitOperatorPlus-Bold"), url("./assets/fonts/8bitOperatorPlus-Bold.ttf") format("truetype");
}

@font-face {
    font-family: MERCY;
    src: local("MERCY"), url("./assets/fonts/MERCY.otf") format("opentype");
}