@import './variables';

*, *::before, *::after {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

* {
    font-family: "8BitOperatorPlus-Bold", sans-serif;
}

body {
    color: $text;
    background-color: $black;
}

main {
    width: 800px;
    height: 600px;
    margin: 109px auto 0;
    position: relative;
    @include flex-center;
}

.hidden {
    visibility: hidden !important;
}

.background {
    width: 1000px;
    height: 450px;
    z-index: -1;
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    bottom: 31%;
    div {
        width: 16.6%;
        height: 50%;
        border: 1px solid $backgroundHighlight;
    }
}

.arrow {
    position: absolute;
    top: 33%;
    font-size: 50px;
    color: $white;
    cursor: pointer;
    &--left {
        left: 2%;
    }
    &--right {
        right: 2%;
    }
}

.list {
    padding-left: 20px;
    list-style-type: symbols(cyclic "*")
}

.box {
    margin-top: 80px;
    justify-content: start;
    flex-direction: column;
    &__wrapper {
        background-color: $black;
        border: $white solid 5px;
        padding: 20px;
        margin-top: 40px;
    }
    &__subtitle {
        color: $white;
        margin-bottom: 4px;
    }
    &__link {
        font-size: 1.17rem;
        color: $text;
        text-decoration: none;
        padding: 2px 0;
        display: flex;
        align-items: center;
    }
    &__logo {
        width: 30px;
        margin-left: 8px;
    }
    &__list {
        padding-left: 20px;
        list-style-type: symbols(cyclic "*")
    }
    .email {
        display: flex;
        margin-bottom: 30px;
        &__copy {
            width: 30px;
            height: 30px;
            margin-left: 8px;
        }
    }
}

.flowey {
    position: absolute;
    bottom: 0px;
    left: 72vw;
    width: 280px;
    height: 300px;
}

.sans {
    position: absolute;
    bottom: 0px;
    left: 15vw;
    width: 280px;
}