@import './variables';
@import './box';
@import './img';

*, *::before, *::after {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

html {
    font-size: 21px; // rem
}

* {
    font-family: UndertaleText, sans-serif;
}

body {
    color: $text;
    background-color: $black;
}

main {
    position: relative;
    width: 100vw;
    max-width: 800px;
    height: auto;
    margin: 40px auto 0;
}

li {
    list-style-type: symbols(cyclic "*");
}

.hidden {
    visibility: hidden !important;
}
