@import './variables';

.intro {
    width: 100vw;
    height: 100svh;
    margin: 0;
    @include flex-center;
    flex-direction: column;
    &__subtitle {
        margin-top: 50px;
        color: $text;
    }
    .name__title {
        font-size: 1.829rem;
    }
}
