@import '../../scss/variables';

.banner {
    width: 700px;
    height: 550px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px auto 0;
    &__img {
        width: 525px;
        height: 350px;
        margin-top: 73px;
    }
    &__nav {
        width: 280px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 20px auto 20px;
    }
    &__wrapper {
        width: 800px;
        height: auto;
        padding: 8px 15px 15px 15px;
        border: 5px solid $white;
    }
    &__title {
        font-size: 1.6rem;
        color: $white;
        display: flex;
    }
    &__content {
        display: flex;
        justify-content: space-between;
    }
    &__text {
        font-size: 1.2rem;
        width: 70%;
    }
    &__list {
        width: 140px;
        height: auto;
        margin-top: -35px;
        color: $white;
        li {
            list-style-type: disc;
        }
    }
    &__github {
        width: 30px;
        height: 30px;
        margin-top: 4px;
        margin-left: 10px;
    }
}

.test {
    position: absolute;
    bottom: 345px;
    width: 315px;
    height: 210px;
    opacity: 0.4;
    z-index: -1;
}

.left {
    left: 450px
}

.right {
    right: 450px;
}

.contact {
    position: relative;
    display: flex;
    &__copy {
        width: 30px;
        height: 30px;
        margin-left: 8px;
    }
    &__check {
        position: absolute;
        right: -10px;
        bottom: 15px;
        width: 30px;
        height: 30px;
    }
}
