@import '../../scss/variables';

.banner {
    width: 100%;
    max-width: 800px;
    height: auto;
    margin: 20px auto 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    &__img {
        width: 90%;
        max-width: 525px;
        aspect-ratio: 3 / 2;
        margin: 73px 5% 0 5%;
        &--small {
            position: absolute;
            top: 0;
            top: 70px;
            width: 315px;
            height: 210px;
            opacity: 0.4;
            z-index: -1;
        }
    }
    &__nav {
        width: 280px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 20px auto 20px;
    }
    &__arrow {
        font-size: 50px;
        color: $white;
        cursor: pointer;
        &--left {
            left: 80px;
        }
        &--right {
            right: 80px;
        }
    }
    &__wrapper {
        width: 100%;
        max-width: 800px;
        height: auto;
        padding: 8px 15px 15px 15px;
        border: 5px solid $white;
    }
    &__title {
        font-size: 1.6rem;
        color: $white;
        display: flex;
    }
    &__content {
        display: flex;
        justify-content: space-between;
    }
    &__text {
        font-size: 1.2rem;
        width: 70%;
    }
    &__list {
        width: 140px;
        height: auto;
        margin-top: -35px;
        color: $white;
        li {
            list-style-type: disc;
        }
    }
    &__github {
        width: 30px;
        height: 30px;
        margin-top: 4px;
        margin-left: 10px;
    }
    &__dot-list {
        width: 120px;
        display: flex;
        justify-content: space-between;
    }
    &__dot {
        width: 13px;
        height: 13px;
        list-style-type: none;
        background-color: rgba(255, 255, 255, 0.397);
        cursor: pointer;
        &.selected {
            background-color: white;
            border: 2px solid white;
        }
    }
}



.relative {
    position: relative;
}

.left {
    left: -125px;
}

.right {
    right: -125px;
}



@media (max-width: 800px) {
    .banner {
        .test {
            display: none;
        }
        &__img {
            margin-top: 15px;
        }
        &__content {
            flex-direction: column;
        }
        &__list {
            margin: 15px 0 0 20px;
        }
        &__wrapper {
            width: 90%;
        }
    }
}
